# STAT 301: Individual Assignment 2

**Group:** 26

**Group member:** Sam Thorne 83910448

## New York City Airbnb Data

Data was originally retrieved from [Kaggle](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data). Raw data can be found on [GitHub](https://raw.githubusercontent.com/samnthorne/FinalProject/main/data/AB_NYC_2019.csv).

***Question of interest from Assignment1:***
> *Using the location, availability, room type, & number of listings the host has, how much should a single night stay at the Airbnb cost?*

## Reading the data in using R:

In [1]:
# loading necessary libraries:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Reading in the data:
data <- read_csv('https://raw.githubusercontent.com/samnthorne/FinalProject/main/data/AB_NYC_2019.csv')
head(data)

Rows: 48895 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (5): name, host_name, neighbourhood_group, neighbourhood, room_type
dbl  (10): id, host_id, latitude, longitude, price, minimum_nights, number_o...
date  (1): last_review

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id   name                                             host_id host_name
1 2539 Clean & quiet apt home by the park               2787    John
2 2595 Skylit Midtown Castle                            2845    Jennifer
3 3647 THE VILLAGE OF HARLEM....NEW YORK !              4632    Elisabeth
4 3831 Cozy Entire Floor of Brownstone                  4869    LisaRoxanne
5 5022 Entire Apt: Spacious Studio/Loft by central park 7192    Laura
6 5099 Large Cozy 1 BR Apartment In Midtown East        7322    Chris
  neighbourhood_group neighbourhood latitude longitude room_type       price
1 Brooklyn            Kensington    40.64749 -73.97237 Private room    149
2 Manhattan           Midtown       40.75362 -73.98377 Entire home/apt 225
3 Manhattan           Harlem        40.80902 -73.94190 Private room    150
4 Brooklyn            Clinton Hill  40.68514 -73.95976 Entire home/apt  89
5 Manhattan           East Harlem   40.79851 -73.94399 Entire home/apt  80
6 Manhattan           Murray Hill   40.74767 -73.97500 Entire home/apt 200
  minimum_nights number_of_reviews last_review reviews_per_month
1  1               9               2018-10-19  0.21
2  1              45               2019-05-21  0.38
3  3               0               <NA>          NA
4  1             270               2019-07-05  4.64
5 10               9               2018-11-19  0.10
6  3              74               2019-06-22  0.59
  calculated_host_listings_count availability_365
1 6                              365
2 2                              355
3 1                              365
4 1                              194
5 1                                0
6 1                              129

## Data Cleaning

### Dropping attributes:

As discussed in my Assignment1 I am going to be dropping columns `id`, `neighbourhood`, `latitude`, `longitude`, `number_of_reviews`, `last_review`, and `reviews_per_month`. 
- The `id` column does not have any semantic meaning so I chose to drop it as it should not alter my ability to predict an appropriate AirBnb price.
- The columns `neighbourhood`, `latitude`, and `longitude` all have to do with the location of the Bnb. I am leaving the column `neighbourhood_group` to represent the location of the Bnb and dropping these columns to avoid multi-collinearity in the model.
- The columns `number_of_reviews`, `last_review`, and `reviews_per_month` all have to do with reviews each bnb has recieved. I decided to drop these columns as this relates to the number of reviews only; there is no sentiment of these reviews represented in this data. People have a tendency to leave reviews when they need to vent or if they are giving praise after a positive experience. These two extremes are represented in the same way in these review columns and might nullify the models predictions.

Additionally, I hope to test if the attribute `name` benefits the predictions or not. I will complete this analysis when building the model for Assignment 3. I am unsure about how this attribute is going to effect the model because it is a text column. I am unsure how it is going to perform without natural language processing.

In [4]:
# dropping columns I am not using:

small_data <- data %>%
    select(-id, -neighbourhood, -latitude, -longitude, -number_of_reviews, -last_review, -reviews_per_month)
head(small_data)

  name                                             host_id host_name
1 Clean & quiet apt home by the park               2787    John
2 Skylit Midtown Castle                            2845    Jennifer
3 THE VILLAGE OF HARLEM....NEW YORK !              4632    Elisabeth
4 Cozy Entire Floor of Brownstone                  4869    LisaRoxanne
5 Entire Apt: Spacious Studio/Loft by central park 7192    Laura
6 Large Cozy 1 BR Apartment In Midtown East        7322    Chris
  neighbourhood_group room_type       price minimum_nights
1 Brooklyn            Private room    149    1
2 Manhattan           Entire home/apt 225    1
3 Manhattan           Private room    150    3
4 Brooklyn            Entire home/apt  89    1
5 Manhattan           Entire home/apt  80   10
6 Manhattan           Entire home/apt 200    3
  calculated_host_listings_count availability_365
1 6                              365
2 2                              355
3 1                              365
4 1                              194
5 1                                0
6 1                              129

In [ ]:
# find NA values and drop those columns?